[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cvxopt = "*"
deprecation = "*"
graphviz = "*"
intervaltree = "*"
lxml = "*"
matplotlib = "*"
networkx = "*"
numpy = "*"
pandas = "*"
pydotplus = "*"
pytz = "*"
scipy = "*"
stringdist = "*"
tqdm = "*"
pyemd = "*"
pymed = "*"
sympy = "*"

[dev-packages]

[requires]
python_version = "3.9"
